.chat-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  .messages-container{
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--text-color);
    padding: 1rem 1rem 0 1rem;
    height: 100vh;
  }
  .input-message-container {
    background: #212121;
    border-top: 1px solid var(--border-color);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    .input-message {
      width: 70%;
      border-radius: 1rem;
      padding: 0 20px;
      height: 50px;
      background: var(--main-background-color);
      border: none;
      color: var(--text-color);
      font-size: 20px;

      &:focus {
        border: none;
        outline: none;
      }
    }
    .send-icon{
      font-size: 32px;
      margin-left: 10px;
      border-radius: 50%;
      transition: 0.3s;
      padding: 5px 2px 5px 5px;
      color: var(--violet-color);
      cursor: pointer;
      &:hover{
        background: var(--violet-color);
        color: #212121;
      }
    }
  }
  .action-container{
    height: 75px;
    padding: 3px 0;
    box-sizing: border-box;
    background: #212121;
    border-top: 1px solid var(--border-color);
    display: flex;
    .actionIcon{
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--violet-color)
    }
    .messageActionContainer{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .messageAction{
        color: var(--violet-color);
        font-weight: bold;
      }
      .messageActionOn{
        color: var(--text-color);
      }
    }
    .closeIcon{
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--secondary-background-color);
      cursor: pointer;
    }
  }
}