.chat-message{
  display: flex;
  margin-bottom: 10px;
  .message-exactly{
    background: #212121;
    padding: 0.3rem 1rem 1.3rem 0.5rem;
    display: inline-flex;
    border-radius: 10px;
    position: relative;
    max-width: 40%;
    word-break: break-word;
  }
  .message-time{
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: 12px;
  }
}

.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid var(--secondary-background-color);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
}

.sb12:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid var(--violet-color);
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -17px;
}

.popover-class{
  .popover-content{
    padding: 5px 3px;
  }
  .popover-action{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .actionName{
      width: 80%;
    }
  }
}