.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .user-name{
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 1rem;
  }
}