:root {
  --main-background-color: #181818;
  --violet-color: #766AC8;
  --secondary-background-color: #8A8A8A;
  --text-color: #E9E9E9;
  --border-color: #323232;
  --primary-color: #1976D2;
  --danger-color: #FF0B0B;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
